.bg-glass {
  background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent white */
  backdrop-filter: blur(10px); /* Blur effect */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Optional subtle shadow */
}
.main-card {
  min-height: 15vh;
}
.titulo {
  text-align: center;
  color: white;
  text-shadow: 0 0 10px #0c007a;
}

.card {
  border: 1px solid rgba(255, 255, 255, 0.2); /* Light white border */
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4); /* Slightly more opaque white */
}
.finanzas {
  background-color: rgba(255, 255, 255, 0); /* Semi-transparent white */
  border: none;
}
.c-details span,
.text1,
.icon {
  color: #00fff0; /* Darker neon aqua text */
}
a {
  all: unset;
}

.text2 {
  color: #fff;
}
