<body>
  <header class="bg-primary text-light">
    <h1>Mis Finanzas</h1>
  </header>
  <main class="container mt-5">
    <section class="row">
      <div class="col-6">
        <div class="card border-danger">
          <div class="card-header text-danger">
            <h2>Gastos</h2>
          </div>
          <div class="card-body text-center">
            <h3 class="mb-0">{{ data.expenses.toLocaleString('es-CL', {minimumFractionDigits: 0}) }}</h3>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card border-success">
          <div class="card-header text-success">
            <h2>Ingresos</h2>
          </div>
          <div class="card-body text-center">
            <h3 class="mb-0">{{ data.incomes.toLocaleString('es-CL', {minimumFractionDigits: 0}) }}</h3>
          </div>
        </div>
      </div>
    </section>
    <section class="mt-5">
      <div class="card border-info">
        <div class="card-header text-info">
          <h2>Margen</h2>
        </div>
        <div class="card-body text-center">
          <h3 class="mb-0">{{ data.profit.toLocaleString('es-CL', {minimumFractionDigits: 0}) }}</h3>
        </div>
      </div>
    </section>
    <section class="mt-5">
      <div class="alert alert-primary text-center">
        <h2>Mensaje</h2>
        <p>{{ promptMessage.message }}</p>
      </div>
    </section>
  </main>
</body>