<div class="card finanzas bg-glass container">
  <div class="mt-2 row">
    <span>Progreso de gastos</span>
    <div class="mt-2">
      <!-- Barra de progreso para el margen -->
      <div class="progress">
        <div
          class="progress-bar"
          role="progressbar"
          width="80%"
          aria-valuenow="80%"
          aria-valuemax="100%"
        ></div>
      </div>
      <!-- Mostrar cantidad gastada -->
      <div class="mt-2">
          <span class="text1">
            $ 123.121 Gastados
            <span class="text2"> de $ 212.313 </span>
          </span>
      </div>
    </div>
  </div>
</div>
