table {
  width: 70vw;
  border-collapse: collapse;
  
}

.titulo-transacciones {
  text-align: center;
  color: white;
  text-shadow: 0 0 10px #0c007a;
}
@media (max-width: 768px) {
  .table {
    font-size: 0.7rem; /* Adjust font size for better readability */
  }
}
