table {
  width: 70vw;
  
}

.titulo-transacciones {
  text-align: center;
  color: white;
  text-shadow: 0 0 10px #0c007a;
}
@media (max-width: 768px) {
  .table {
    font-size: 0.8rem; /* Adjust font size for better readability */
  }
}
