.titulo-finanza {
  text-align: center;
  color: white;
}

.bg-glass {
  background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent white */
  backdrop-filter: blur(10px); /* Blur effect */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Optional subtle shadow */
}

.card {
  border: 1px solid rgba(255, 255, 255, 0.2); /* Light white border */
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4); /* Slightly more opaque white */
}
.finanzas {
  background-color: rgba(255, 255, 255, 0); /* Semi-transparent white */
  border: none;
}
.c-details span,
.text1,
.icon {
  color: #00fff0; /* Darker neon aqua text */
}

.badge span {
  background-color: #ffffff; /* Light beige background */
  width: 60px;
  height: 25px;
  padding-bottom: 3px;
  border-radius: 5px;
  display: flex;
  color: #b30505; /* Brownish orange text */
  justify-content: center;
  align-items: center;
}

.progress {
  height: 10px;
  border-radius: 10px;
  background-color: #a5aec0; /* Teal progress bar */
}

.progress div {
  background-color: #df0808; /* Inherit color from progress bar */
}

.card-account{
  background-color: rgba(255, 255, 255, 0.4); /* Slightly more opaque white */

}
.view70percent {
  min-height: 80vh;
}
.a{
  text-decoration: none
}
.main-finances{
  min-height: 15vh
}

.btn-reporte {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #333;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}
.circulo-progreso-borde {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 4px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  clip-path: polygon(0 0, 50% 50%, 100% 0);
  animation: girar 2s linear infinite;
}

.text-reporte {
  top: 0;
  left: 0;
  z-index: 2;
  line-height: 100px; 
}

.circulo-progreso {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #666;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  animation: girar 2s linear infinite;
}

.circulo-progreso-interior {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background-color: #999;
  position: absolute;
  top: 10%;
  left: 10%;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}